<a href='/api/v1/settings/all'>List</a>
<h2>Setting Create form</h2>
<form action='/api/v1/settings/create' method='POST'>
	<table>
		<tr>
			<td>Text
			<td><input type='text' name='Setting[text]'><br/>
		<tr>
			<td>User
			<td><input type='text' name='Setting[user]'>
		<tr>
			<td>Active
			<td><input type='text' name='Setting[active]'>
		<tr>
			<td>
			<td><input type='submit' value='ADD'>
</form>