{{#link-to "index"}}home{{/link-to}}
{{#link-to "memory"}}memory{{/link-to}}
{{#link-to "memories"}}memories{{/link-to}}
{{#link-to "reminders"}}reminders{{/link-to}}
{{#link-to "settings"}}settings{{/link-to}}
{{#link-to "tags"}}tags{{/link-to}}
{{#link-to "types"}}types{{/link-to}}
{{#link-to "users"}}users{{/link-to}}

<h2>Types</h2>

<div>
{{#each content as |type|}}
<h1>{{type.text}}</h1>

<p>
  Updated at: {{type.updatedAt}}
  <br>
  Created at: {{type.createdAt}}
</p>
{{else}}
  Sorry, nobody is here.
{{/each}}
</div>