<a href='/memory/index'>List</a>
<h2>Memory Create form</h2>
<form action='/memory/create' method='POST'>
	<table>
		<tr>
			<td>Text
			<td><input type='text' name='Memory[text]'><br/>
		<tr>
			<td>Image
			<td><input type='text' name='Memory[image]'>
		<tr>
			<td>Tags
			<td><input type='text' name='Memory[tags]'>
		<tr>
			<td>User
			<td><input type='text' name='Memory[user]'>
		<tr>
			<td>
			<td><input type='submit' value='ADD'>
</form>