<a href='/api/v1/types/all'>List</a>
<h2>Type Create form</h2>
<form action='/api/v1/types/create' method='POST'>
	<table>
		<tr>
			<td>Text
			<td><input type='text' name='Type[text]'><br/>
		<tr>
			<td>
			<td><input type='submit' value='ADD'>
</form>