<a href='/api/v1/users/all'>List</a>
<h2>User Create form</h2>
<form action='/api/v1/users/create' method='POST'>
	<table>
		<tr>
			<td>First Name
			<td><input type='text' name='User[firstname]'><br/>
		<tr>
			<td>Last name
			<td><input type='text' name='User[lastname]'>
		<tr>
			<td>Email Address
			<td><input type='text' name='User[email]'>
		<tr>
			<td>Last Login
			<td><input type='text' name='User[lastlogin]'>
		<tr>
			<td>
			<td><input type='submit' value='ADD'>
</form>